<form id="navbar" action="/" method="get">
    <button type="submit">Home</button>
</form>

<form id="navbar" action="/new-song" method="get">
    <button type="submit">Adicionar musica</button>
</form>

<form id="navbar" action="/songs" method="get">
    <button type="submit">Listar musicas</button>
</form>

<form id="navbar" action="/price" method="get">
    <button type="submit">Gerir preço por like</button>
</form>
