<form action="/" method="get">
    <button type="submit">Home</button>
</form>

<form action="/new-song" method="get">
    <button type="submit">Adicionar musica</button>
</form>

<form action="/songs" method="get">
    <button type="submit">Listar musicas</button>
</form>

<form action="/price" method="get">
    <button type="submit">Gerir preço por like</button>
</form>
