<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <%- include("partials/header") %>


    <h1>Bem-vindo à página inicial</h1>

    <p>Esta é a página inicial da aplicação PSIFY</p>
    
    <p>Utilize o menu acima para navegar pelas diferentes funcionalidades da aplicação</p>

    <p>Obter uma música</p>

    <form>
        <label for="Music">ID da Musica:</label>
        <input type="text" id="Music" name="Music">
        <input type="submit" value="Obter">
    </form>
</body>
</html>