<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>


    <%- include("partials/header") %>

    <td>
        <tr>ID</tr>
        <tr>Title</tr>
        <tr>Artiste</tr>
        <tr>Album</tr>
        <tr>Genre</tr>
        <tr>Duration_seconds</tr>
        <tr>Release_date</tr>
        <tr>Likes</tr>  
    </td>


    
</body>
</html>